{% extends 'base.html.twig' %}


{% block body %}
{# CSS #}$
<style>
.overlay-image .image {
    display: block;
    height:45%;
    width:45%
    
}
</style>


<section>
	<div class="container bg-center">
		<div class="row p-4">
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb" id="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{'/accueil'}}">Accueil</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Cordes</li>
				</ol>
			</nav>
		</div>
        <div class="row p-4">
            <div class="col-sm-3 p-0">
				<div class="overlay-image">
					<a href="#">
						<div class="hover">
							<img class="image" src="assets/src/Guitare_electrique.png" alt="guitare_éléctrique" />
                        </div>
                        <div class="liens">
                            <span>Guitares Éléctriques</span>
                        </div>
					</a>
				</div>
            </div>
            <div class="col-sm-3 p-0">
				<div class="overlay-image">
					<a href="#">
						<div class="hover">
							<img class="image" src="assets/src/Guitare_classique.png" alt="guitare_classique" />
                        </div>
                        <div class="liens">
                            <span>Guitares Classiques</span>
                        </div>
					</a>
				</div>
            </div>
            <div class="col-sm-3 p-0">
				<div class="overlay-image">
					<a href="#">
						<div class="hover">
							<img class="image" src="assets/src/Guitare_accoustique.png" alt="guitare_accoustique" />
                        </div>
                        <div class="liens">
                            <span>Guitares Accoustiques</span>
                        </div>
					</a>
				</div>
            </div>
            <div class="col-sm-3 p-0">
				<div class="overlay-image">
					<a href="#">
						<div class="hover">
							<img class="image" src="assets/src/Guitare_electro_accoustique.png" alt="guitare_electro_accoustique" />
                        <div class="liens">
                            <span>Guitares Éléctros Accoustiques</span>
                        </div>
					</a>
				</div>
            </div>

        </div>    
	</div>
</section>


{% endblock %}
